apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-template
  labels:
    component: api-template
spec:
  replicas: MIN_REPLICAS_VALUE
  minReadySeconds: 10
  revisionHistoryLimit: 5
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  selector:
    matchLabels:
      component: api-template
  template:
    metadata:
      labels:
        component: api-template
    spec:
      containers:
      - name: api-template
        image: tedris/api-template:VERSION_VALUE
        imagePullPolicy: Always
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
        ports:
        - containerPort: 8080
        env:
          - name: LOG_LEVEL
            value: LOG_LEVEL_VALUE
          - name: SOME_VARIABLE
            valueFrom:
              secretKeyRef:
                name: some-secret-file
                key: some_variable
---
apiVersion: autoscaling/v2beta2
kind: HorizontalPodAutoscaler
metadata:
  name: api-template
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: api-template
  minReplicas: MIN_REPLICAS_VALUE
  maxReplicas: MAX_REPLICAS_VALUE
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 75
